:root {
    --primary-color: #873260;
    --secondary-color: #d4d3d3;
    --tertiary-color: #bcb88a;
    --quaternary-color:#eae0c8;
}

* {
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: var(--quinary-color);
    font-family: Arial, Helvetica, sans-serif;
    position: relative;
	color: var(--primary-color);
}

/*header section*/

header {
	background-color: var(--primary-color);
	padding: 10px 0 15px 0;
}

header h1 a {
	font-size: 50px;
	color: var(--primary-color);
	text-decoration: none;
	letter-spacing: 1px;
	font-weight: lighter;
}

header nav ul {
    display: flex;
	align-items: left;
}

header nav ul li {
    list-style: none;
    margin: 0 5px;
}

header nav ul li a {
	text-decoration: none;
	color: var(--secondary-color);
	font-size: 20px;
	padding: 2px 5px;
	border-bottom: 3px solid var(--secondary-color);
}

.container {
	display:flex;
	justify-content: space-between;
	align-items: center;
}
.box-1 {
	background-color: var(--secondary-color);
	width: fit-content;
}

.box-2 {
	display: flex;
	justify-content: flex-end;
	margin-right: 5px;
}

/*hover effect*/

a::after {
	content: "";
	position: absolute;
	height: auto;
	width: 100%;
	left: 0;
	bottom: 0px;
	background-color: var(--tertiary-color);
	z-index: -10;
	transition: height 0.2;
}
a:hover {
	color: var(--tertiary-color);
}
a:hover::before {
	height: 100%;
	border-radius: 3px;
}

/* Hero Section*/

.hero {
	position: relative;
	/* background-image:  */
	margin: 0px 0px 0px 0;
	background-position: center;
	height: 400px;
	width: 100%;
	height: auto;
	overflow: hidden;
}

.hero-box {
	position: absolute;
	float: right;
	padding: 10px;
	background-color: var(--secondary-color);
	width: auto;
	font-size: 20px;
	bottom: 20px;
	right: 10px;
}

.heroimg {
	width: 100%;
    display: flex;
}

/* main section */

/* about section  */
.about-section {
	display: flex;
	flex-wrap: wrap;
	padding: 20px 10px;
	width: 100%;
	justify-content: space-between;
	margin: 5px 0px;
}

.section-title {
	text-align: right;
	width: 20%;
	border-right: 5px solid;
	padding: 10px;
}

.about-section p {
	margin: 10px;
	line-height: 2;
}

.about-section .bio {
	margin: 10px 0 0 0;
	width: 75%;
    font-size: 12px;
}

/* work section  */
.work-section {
	display: flex;
	flex-wrap: wrap;
	padding: 20px 10px;
	width: 100%;
	justify-content: space-between;
	margin: 10px 0px;
}

.projects {
	width: 75%;
}

.project-container {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	width: 100%;
	height: fit-content;
}

.project-container a {
	border: 5px solid var(--secondary-color);
	margin: 10px 0 10px 0;
	overflow: hidden;
	color: var(--primary-color);
}
.project-container img {
	justify-content: center;
	align-self: center;
	max-width: 100%;
	max-height: fit-content;
}

.project-container a {
	box-shadow: 4px 4px 4px rgb(70, 70, 70);
}

/* container */
.inner-container:hover {
	position: absolute;
	bottom: 20px;
	padding: 5px;
	border-radius: 0px 10px 0px 0px;
	background-color: var(--tertiary-color);
	box-shadow: 3px 3px 10px rgb(48, 48, 48);
}

.inner-container {
	position: absolute;
	z-index: 40;
	bottom: 20px;
	padding: 5px;
	border-radius: 0px 10px 0px 0px;
	background-color: var(--tertiary-color);
	box-shadow: 3px 3px 10px rgb(48, 48, 48);
}

.inner-container h3 {
	font-size: 20px;
}

.boxes {
	position: absolute;
	content: "";
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.062);
	z-index: 20;
	top: 0;
	left: 0;
	right: 0%;
	bottom: 0;
}
.boxes:hover {
	background-color: rgba(0, 0, 0, 0.349);
}

.run-buddy {
	position: relative;
	width: 100%;
	height: 500px;
}

.beer-me,
.refactor,
.tipsyTech,
.TBD {
	position: relative;
	width: 47%;
	height: 200px;
}

/* contact and footer section  */

.contact-section {
	display: flex;
	flex-wrap: wrap;
	padding: 20px 10px;
	width: 100%;
	justify-content: space-between;
	margin: 10px 0px;
}

footer {
	display: flex;
	flex-wrap: wrap;
	padding: 20px 0px 30px;
	width: 100%;
	justify-content: space-between;
	height: auto;
}

.footer-links {
	display: flex;
	align-items: center;
	width: 75%;
	padding: 10px;
}

.footer-links ul {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
	width: 100%;
}

.footer-links ul li {
	list-style: none;
	padding: 10px 20px;
}

.footer-links ul li a {
	position: relative;
	padding: 5px;
	text-decoration: none;
	color: var(--primary-color);
	border-bottom: 3px solid;
	z-index: 10;
	transition: color 0.2s;
	border-bottom: 3px solid var(--primary-color);
}

.footer-links ul li a:hover {
	color: var(--secondary-color);
}

.footer-links ul li a::before {
	position: absolute;
	width: 100%;
	height: 0%;
	content: "";
	left: 0;
	bottom: 0px;
	background-color: var(--primary-color);
	z-index: -10;
	transition: height 0.2s;
}

.footer-links ul li a:hover::before {
	height: 100%;
	border-radius: 3px;
} 

/* media queries for screen sizes */
@media screen and (max-width: 980px) {
	/* Header section  */
	header h1 {
		margin: 10px 0 10px 0;
		font-size: 40px;
	}
	header nav ul li a {
		border-bottom: 2px solid;
	}
	/* Hero section  */

	.hero {
		width: 100%;
		height: auto;
	}
	
	.hero div {
		position: absolute;
		float: center;
	}
	
	.hero div h2 {
		font-size: 25px;
	}

	/* main section  */
	main {
		padding: 0px 30px;
	}
	/* about section  */
	.section-title {
		font-size: 25px;
		width: 20%;
		border-width: 3px;
		padding: 5px;
	}

	.about-section h2 {
		font-size: 30px;
	}


	/* work section  */
	.work-section h2 {
		font-size: 30px;
	}

	.project-container {
		border-width: 1px;
	}

	.beer-me,
	.refactor,
	.tipsyTech,
	.TBD  {
		border: 2px solid;
	}

	.run-buddy {
		width: 100%;
		height: 250px;
		background-position: center bottom;
	}

	.beer-me,
	.refactor,
	.tipsyTech,
	.TBD  {
		width: 45%;
		height: 200px;
		background-position: center;
		background-size: cover;
	}

	/* contact section  */
	footer {
		margin: 30px 0px;
	}

	footer h2 {
		font-size: 30px;
	}

	.footer-links ul {
		flex-direction: row;
	}

	.footer-links ul li {
		flex-wrap: wrap;
		padding: 10px;
	}
}

@media screen and (max-width: 768px) {
	/* header section  */
	header {
		flex-direction: column;
		align-items: center;
		padding: 0;
	}


	nav {
		margin: 10px;
	}

	header h1 {
		font-size: 40px;
	}
	
	.container {
		display: flex;
		flex-direction: column;
		width: 100%;
	}

	.box-1 {
		width: 100%;
		text-align: center;
	}

	/* hero section  */

	.hero {
		margin: 0px 0px 0px 0;
		position: relative;
	}

	.hero-box {
		position: absolute;
		float: right;
		bottom: 10px;
		text-align: center;
		max-width: 30%;
	}

	.hero img {
		display: flex;
		justify-content: center;
		width: auto;
		height: 150px;
	}

	.hero div h2 {
		font-size: 20px;
		color: var(--primary-color), 1;
	}

	/* main section  */
	main {
		margin: 0;
		padding: 0;
	}

	/* about section  */
	section {
		flex-direction: column;
		justify-content: center;
	}

	.section-title {
		width: 90%;
		text-align: left;
		border-bottom: 2px solid;
		border-right: none;
	}
	
	.section-title h2, .bio {
		display: flex;
		justify-content: left;
	}

	.about-section,
	.work-section,
	footer {
		align-items: center;
		padding: 0;
	}

	.about-section p {
		display: flex;
		justify-content: left;
		align-items: stretch;
		margin: 0;
		padding: 0px 0px;
		line-height: 1.5;
	}

	/* work section  */

	.run-buddy {
		height: 150px;
	}

	.beer-me,
	.refactor,
	.tipsyTech,
	.TBD  {
		height: 100px;
	}

	/* contact me section  */
	footer {
		text-align: center;
		flex-direction: column;
		padding: 0;
		margin: 0;
	}

	.footer-links {
		width: 100%;
	}

	.footer-links li {
		padding: 5px;
	}

	.footer-links a {
		padding: 0;
	}

	footer .section-title {
		text-align: center;
	}
}

@media screen and (max-width: 575px) {
	/* header section  */
	.hero div { 
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
}
	.box-1 {
		width: 100%;
		text-align: center;
	}

	nav ul {
		flex-wrap: wrap;
		justify-content: center;
	}

	/* hero section  */
	.hero-box {
		display: block;
		justify-content: center;
		align-items: center;
	}

	/* about section  */
	.about-section p {
		line-height: 1;
	}

	/* work section  */
	.project-container a {
		width: 100%;
		padding: 0;
	}

	.run-buddy {
		height: 100px;
	}

	.beer-me,
	.refactor,
	.tipsyTech,
	.TBD  {
		height: 100px;
	}
	/* footer */
	.footer-links ul {
		flex-direction: column;
		align-items: baseline;
	}
}